
.grid1 {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

 .grid2 {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 75%;
    height: 150px;
}

.grid2 > div {
    text-align: center;
    line-height: 150px;
    width: 33%;
    height: 100%;
    
    border: thick double #353535;

}

.grid2 > div:hover {
    background-color: #B2EBF4;
}


#bt {
    padding-top: 20px;
}